#header{
	margin:auto;
	width: 1400px;
	font-family: 'Satisfy', cursive;
    font-family: 'Julius Sans One', sans-serif;
}

ul, ol{
	list-style: none;
}

.nav li a{
	background-color: rgb(0, 155, 205);
	color: #fff;
	text-decoration: none;
	padding: 10px 35px;
	display: block;
}

.nav li a:hover{
	background-color: #434343;
}

.nav > li{
	float: left;
}

.nav li ul {
	display:none;
	position: absolute;
	min-width: 140px;
}

.nav li:hover > ul{
	display: block;
}


.nav li ul li{
	position: relative;
}

.nav li ul li ul{
	right: -140px;
	top:0px;
}






